body{
    margin: 0px;
    padding: 0px;

}
.corpo{
    display: flex;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 720px;

}
aside{
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: space-around;
}
aside h1{
    margin-left: 20px;
    color: rgba(255, 146, 51, 0.938);
    font-size: 30px;
    font-weight: bolder;
    
}
aside h3{
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
aside h5{
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
}
aside button{
    background-color:rgba(255, 146, 51, 0.938);
    columns: #fff;
    color: #fff;
    border: 3px #fff solid;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    width: 100px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}
aside button:hover{
    border-color: rgba(255, 180, 51, 0.938);
    box-shadow: 2px 2px rgba(255, 180, 51, 0.938);
}

.fundoLogin{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    border: 2px solid black;
}

.headLogin{
    display: flex;
    background-color: rgba(255, 128, 17, 0.895);
    border: #777;
    color: #fff;
    margin-bottom: 10px;
   justify-content: center;
   font-size: 20px;
   font-weight: bolder;
}
.botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#botaoLogin{
    margin-top: 20px;
    width: auto;
    cursor: pointer;
}

.userLogin{
    margin-top: 5px;
}

.passwordLogin{
    margin-top: 10px;
}