body{
    margin: 0px;
    padding: 0px;

}
.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 720px;
    background-color: #F2EDED;

}
.fundoLogin{
    display: flex;
    width: 480px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-radius: 10px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    margin: 0px;
   
}

.headLogin{
    display: flex;
    flex-direction: column;
    color:#E05100;
    margin-bottom: 10px;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   font-weight: bolder;
}
.headLogin h4{
    margin-top: 0px;
}
.headLogin h1{
    margin-bottom: 5px;
}
.botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#botaoLogin{
    margin-top: 20px;
    width: auto;
    cursor: pointer;
}

.userLogin{
    margin-top: 5px;
   
}
.userLogin input{
    background-color: #F9BC90;
    border-radius: 10px;
    width: 100%;
    height: 36px;
    border: none;
    margin-bottom: 10px;
    
}

.passwordLogin{
    margin-top: 10px;
}
.passwordLogin input{
    background-color: #F9BC90;
    border-radius: 10px;
    width: 100%;
    height: 36px;
    border: none;
}
#botaoLogin{
    background-color:#E05100 ;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 15px;
}
#botaoLogin a{
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}