@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
  padding: 0;
margin: 0;
box-sizing:border-box;
  font-family: 'Poppins';
}
body{
  width:100%;
  height: 100vh;
  justify-content: center;
  background: #F2EDED;
}
header{
  width:100%;
  height:35px;
 background-color: #000000;
}
.logo-texto{
  margin-left: 20 px;
  color: #E05100;
  text-align: center;
  font-size: 10px;
}
.login-box{
  width: 400px;
  height: 400px;
  background:  rgba(0, 0, 0, 0.5);
   background-color:white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
box-sizing: border-box; 
  border-radius: 0 20px  20px 0;
}
img{
  width: 200px;
}
.profile-pic-div{
  height: 130px;
  width: 130px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  overflow: hidden;
}
#photo{
  height: 100%;
  width: 100%;
}

#file{
  display:none;
}

#uploadBtn{
height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #F9BC90;
  color: black;
  line-height: -30%;
  font-family: sans-serif;
  font-size: 17px; 
  cursor: pointer;
  display: none;
}
.form-box{
  position: absolute;
top:37%;
  left:50%;
  transform: translate(-50%,0%);
  border-radius: 10px;
}

 .gender-group{
   background: #F9BC90;
   margin-bottom:6px;
   border-radius: 8px;
 }
.gender-group input{
  background: #F9BC90;
}
.input-box{
 background: #F9BC90;
  margin-bottom: 6px;
  border-radius: 8px;
}
.input-box input{
  backgroud: #F9BC90;
  border:none;
  border-radius: 8px;
}
.input-box date{
  border-radius: 8px;
}
.input-box input:focus-visible{
  outline:none;
  
}
 button{
  background-color: #F9BC90;
  border:none;
  border-radius: 5px;
  padding: 20px; 
  text-decoration: none; 
  position: absolute;
  top: 93%;
  right: 27%;
  aling: center;
  width: 230px;
  cursor:pointer;
  left:50%;
  transform: translate(-50%,0%);
}
button a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  font: Poppins;
} 
input{
  background: #F9BC90;
}


 